* {
  box-shadow: border-box;
}
.wrapper {
  margin-top: 20px;
}
.expense-nav {
  background-color: cornflowerblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}

#nav-title {
  color: antiquewhite;
  font-size: 30px;
}

.eachItem {
  box-shadow: 10px 8px 6px #888;
}

.dashCard {
  box-shadow: 6px 6px 6px #888;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  font-size: 0.75rem;
  text-align: center;
  /* background: rgb(111, 230, 200); */
  /* color: rgb(112, 106, 106); */
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
}
.footer .copyright {
  /* align-self: center;
  text-align: center; */
  margin: 0px;
}
