*{
  box-shadow: border-box;
}
.wrapper{
  margin-top: 20px;
}
.expense-nav{
  background-color: cornflowerblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}

#nav-title{
  color: antiquewhite;
  font-size: 30px;
}

.eachItem{
  box-shadow: 10px 8px 6px #888
}

.dashCard{
  box-shadow: 6px 6px 6px #888
}